.about-project {
    width: calc(100% - 70px * 2);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.about-project__header {
    width: 100%;
    margin: 110px auto 70px;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.04em;
    padding-bottom: 23px;
    border-bottom: solid 1px black;
}

.description {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0 auto 110px;
    align-items: flex-start;
    justify-content: center;
}

.description__block {
    display: flex;
    flex-direction: column;
    margin: 0 40px 0 0;
}

.description__block:last-child {
    margin: 0;
}

.description__point {
    margin: 0 auto 26px 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.04em;
}

.description__explanation {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;
}

.chart {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto 110px;
    max-height: 36px;
}

.chart__element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.chart__element_color_black {
    width: calc(20% - 14px * 2);
}

.chart__element_color_grey {
    width: calc(80% - 14px * 2);
}

.chart__duration {
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin: 0 0 14px;
    padding: 9px 14px;
    text-align: center;
}

.chart__duration_color_black {
    background-color: black;
    color: white;
}

.chart__duration_color_grey {
    background-color: #F2F2F2;
    color: black;
}

.chart__task {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #A0A0A0;
    margin: 0;
}

@media screen and (max-width: 1280px) {
    .about-project {
        width: calc(100% - 50px * 2);
    }

    .about-project__header {
        margin-top: 90px;
    }

    .description {
        margin-bottom: 60px;
        flex-direction: row;
        margin: 0 auto 110px;
        align-items: flex-start;
        justify-content: center;

    }

    .description__block {
        margin-right: 30px;
    }

    .chart {
        margin-bottom: 90px;
    }

    .chart__task {
        font-weight: 400;
    }
}

@media screen and (max-width: 768px) {
    .about-project {
        width: calc(100% - 18px * 2);
    }

    .about-project__header {
        margin-top: 70px;
        margin-bottom: 60px;
        padding-bottom: 28px;
        font-size: 18px;
        line-height: 22px;
    }

    .description {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 60px;
    }

    .description__block {
        margin-right: 0;
        margin-bottom: 56px;
    }

    .description__point {
        margin-bottom: 16px;
        font-size: 18px;
        line-height: 22px;
    }

    .description__explanation {
        font-size: 11px;
        line-height: 1.45;
    }

    .chart {
        margin-bottom: 70px;
    }

    .chart__duration {
        font-size: 11px;
        line-height: 13px;
        margin-bottom: 10px;
        padding: 11px 10px;
    }

    .chart__element_color_black {
        width: calc(35% - 10px * 2);
    }

    .chart__element_color_grey {
        width: calc(65% - 10px * 2);
    }

    .chart__task {
        font-size: 11px;
        line-height: 13px;
    }
}