.portfolio {
    width: calc(100% - 70px * 2);
    margin: 0 auto 125px;
    display: flex;
    flex-direction: column;
}

.portfolio__header {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.11;
    color: #A0A0A0;
    margin: 0 auto 50px 0;
}

.project {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 19px;
    border-bottom: solid 1px #E8E8E8;
}

.project:last-child {
    border-bottom: none;
}

.project__name {
    font-weight: 400;
    font-size: 30px;
    line-height: 1.67;
    letter-spacing: -0.04em;
    margin: 0;
}

.project__link {
    background-image: url(../../../images/project-link.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 29px;
    height: 60px;
}