.techs {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5F5F5;
    margin: 0 auto;
}

.techs__header {
    width: calc(100% - 70px * 2);
    margin-top: 100px;
    margin-bottom: 90px;
}

.techs__number {
    margin: 0 auto 26px;
    font-weight: 400;
    font-size: 50px;
    line-height: 1.16;
    letter-spacing: -0.04em;
}

.techs__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.04em;
    min-width: calc(100% - 410px * 2);
    margin: 0 auto 100px;
    text-align: center;
}

.techs__list {
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0 auto 100px;
}

.tech {
    padding: 21px 0 22px;
    margin-right: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: -0.04em;
    background-color: #E8E8E8;
    min-width: 90px;
    max-height: 60px;
    border-radius: 10px;
}

.tech:hover {
    opacity: 0.8;
    transition: 0.5s;
}

.tech:last-child {
    margin-right: 0;
}