.promo {
    display: flex;
    flex-direction: column;
    background-color: #F3C1F8;
}

.promo__header {
    min-height: 74px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 70px * 2);
    margin: 0 auto 50px;
}

.promo__title {
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: -0.04em;
    max-width: 626px;
    margin: 0 auto 102px 70px;
}

.logo {
    width: 38px;
    height: 38px;
    margin: 0;
}

.promo__signup-button {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
    color: black;
    margin: 0 30px 0 auto;
}

.promo__signup-button:hover {
    opacity: 0.8;
    transition: 0.5s;
}

.promo__singnin-button {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: white;
    background-color: black;
    padding: 8px 20px;
    text-decoration: none;
    border-radius: 3px;
    margin: 0;
}

.promo__image {
    width: 722px;
    height: 244px;
    opacity: 0.7;
    margin: 0 70px 60px auto;
}

@media screen and (max-width: 1280px) {
    .promo__header {
        width: calc(100% - 30px * 2);
        margin-bottom: 300px;
    }

    .promo__title {
        margin: 0 auto 140px;
        text-align: center;
    }

    .promo__image {
        width: 680px;
        height: 230px;
        margin: 0 auto 70px;
    }
}

@media screen and (max-width: 768px) {
    .promo {
        overflow: hidden;
    }

    .promo__header {
        width: calc(100% - 14px * 2);
        margin-bottom: 183px;
    }

    .promo__title {
        width: calc(100% - 10px * 2);
        margin-bottom: 60px;
        font-size: 29px;
        line-height: 39px;
    }

    .promo__image {
        position: relative;
        right: 50%;
        margin-bottom: 40px;
    }
}