.about-me__header {
    margin-bottom: 66px;
}

.about-me {
    margin: 0 0 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about-me__info{
    display: flex;
    flex-direction: column;
    margin: 0 270px 0 0;
}

.about-me__name {
    font-weight: 400;
    font-size: 50px;
    line-height: 1.16;
    letter-spacing: -0.04em;
    margin: 0 auto 18px 0;
}

.about-me__occupation {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.11;
    margin: 0 auto 26px 0;

}

.about-me__bio {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.57;
    max-width: 600px;
    margin: 0 auto 99px 0;
}

.about-me__github {
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    color: black;
    text-decoration: none;
}

.about-me__photo {
    border-radius: 10px;
    width: 270px;
    height: 327px;
    object-fit: cover;
}